.navbar {
  font-size: 20px; }

.header {
  background-image: url(../public/cafe2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 6rem;
  width: auto; }

.recuadro1 .titulo {
  padding-left: 74px; }

.recuadro1 .descrip {
  font-size: 10px; }

.contenedormain {
  padding: 10px; }
  .contenedormain h3 {
    font-size: 18px; }
  .contenedormain h6 {
    font-size: 10px; }

.titulo1 {
  display: flex;
  justify-content: center; }

.subti {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenedormain1 {
  background-color: black;
  margin-top: -8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contenedormain1 div {
    padding: 40px; }
  .contenedormain1 p {
    color: white;
    font-size: 15px; }

.imgmain {
  width: 90%; }

.divfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black; }
  .divfooter .iconos {
    display: flex;
    flex-direction: column; }
  .divfooter .arriba {
    text-decoration: none;
    color: black; }
  .divfooter .arriba1 {
    padding-left: 60px; }
  .divfooter .cp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding-left: 80px; }

.logo {
  width: 5%; }

.navbar-brand {
  font-family: 'Hind', sans-serif; }

.divcafe {
  background-color: black; }
  .divcafe p {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }

.tituloventa {
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: black; }
  .tituloventa p {
    color: white; }

.tarjetas-main {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cartamain {
  border-radius: 50px;
  transition: transform .2s, box-shadow .2s;
  margin-top: 1rem; }

.cartamain img {
  border-radius: 50px 50px 50px 50px; }

.cartamain:hover {
  border: none;
  transform: translate(0, -20px);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75); }

.tituloventa1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: black; }
  .tituloventa1 p {
    color: white; }

.tarjetas-main1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px; }

.cartamain1 {
  border-radius: 50px;
  transition: transform .2s, box-shadow .2s;
  margin-top: 1rem; }

.cartamain1 img {
  border-radius: 50px 50px 50px 50px; }

.cartamain1:hover {
  border: none;
  transform: translate(0, -20px);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75); }

@media screen and (min-width: 769px) {
  .header {
    height: 30rem;
    width: auto; }
  .recuadro1 {
    padding-top: 16rem;
    padding-left: 10px; }
    .recuadro1 .titulo {
      padding-left: 420px;
      font-size: 2em; }
    .recuadro1 .descrip {
      font-size: 22px; }
  .contenedormain h3 {
    font-size: 30px; }
  .contenedormain h6 {
    font-size: 15px; }
  .contenedormain1 {
    display: flex;
    flex-direction: row; }
    .contenedormain1 p {
      font-size: 30px; }
  .imgmain {
    width: 40%; }
  .divfooter {
    display: flex;
    justify-content: space-between;
    color: black; }
    .divfooter .iconos {
      display: flex; }
    .divfooter .arriba {
      text-decoration: none;
      color: black; }
  .divcafe p {
    font-size: 30px; }
  .tituloventa {
    font-size: 40px; }
  .tituloventa1 {
    font-size: 40px; }
  .tarjetas-main {
    padding-left: 0px;
    justify-content: center;
    flex-direction: row;
    gap: 30px; }
  .tarjetas-main1 {
    justify-content: center;
    flex-direction: row;
    gap: 30px; } }
