.maquinas{
    background-color: black;
    color: #b28405;

    font-size: 25px;
    display: flex;
    justify-content: center;

    padding: 10px;
}
.cuotas{
    display: flex;
    justify-content: center;

    font-size: 18px;

    color: black;
}
.contenedortazas{
    padding: 10px;
}