header{
    background-image: url(../public/cafe2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6rem;
    width: 20rem;
}

.recuadro1{
    .titulo{
        padding-left: 74px;
    }
    .descrip{
        font-size: 10px;
    }
}
.contenedormain{
    padding: 10px;
}
.titulo1{
    display: flex;
    justify-content: center;
}
.subti{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedormain1{
    background-color: black;

    margin-top: -8px;

    display: flex;
    align-items: center;
    justify-content: center;
    div{
        padding: 40px;
    }
    p{  
        color: white;
        font-size: 30px;
    }
}
.imgmain{
    width: 30%;
}

.divfooter{
    display: flex;
    justify-content: space-between;

    color: black;
    .iconos{
        display: flex;
    }
    .arriba{
        text-decoration: none;
        color: black;
    }
    
}


