@media screen and (min-width: 769px){
    header{
        height: 31rem;
        width: auto;
    }
    
    .recuadro1{
        padding-top: 16rem;
        padding-left: 10px;
        .titulo{
            padding-left: 420px;
            font-size: 2em;
        }
        .descrip{
            font-size: 25px;
        }
    }






}